<% if user_signed_in? %>
<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post if post.user == current_user%>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
<% else %>

<h1>Hello World!</h1>
This is my first Rails webpage...

<% end %>
